// out: css/main.css, sourcemap: true
@logo-red: darken(red, 30%);
@logo-red-mute: desaturate(@logo-red, 50%);
@logo-red-light: lighten(@logo-red, 70%);


body {
  background-color: @logo-red-mute;
  color: @logo-red-light;
}

h1 {
  border-top: 15px solid @logo-red;
  color: white;
}
