// out: css/main.css, sourcemap: true
@logo-red: darken(cyan, 30%);
@logo-red-mute: desaturate(@logo-red, 50%);
@logo-red-light: lighten(@logo-red, 70%);


//TYPE VARIABLES
@regular: 1em;
@large: @regular * 2;
@x-large: @large * 2.5;

body {
  background-color: @logo-red-mute;
  font-size: @regular;
  color: @logo-red-light;
  font-family: 'Pacifico', cursive;
}

.page-container {
  width: 90%;
  margin: 0 auto;
}

h1 {
  margin-bottom: 20px;
  border-top: 15px solid @logo-red;
  color: white;
  font-size: @large;
  font-family: 'Amatic SC', cursive;

  +h2 {
    margin-top: -20px;
    font-family: 'Amatic SC', cursive;

  }

}


h2 {
  font-size: @large;

  + p {
    margin-top: 36px;
  }
}


img {
  float:left;
  width: 30%;
  margin: 20px 20px 20px 0px
}

p {

  img {
    float:right;
    width:100px;
  }
}




// BREAKPOINTS
@media screen and (min-width: 550px) {

  body {
    font-size: 1.1em;
    
  }


  h1 {
    font-size: @x-large;
  }
}

.page-container {
  width: 80%;

}


@media screen and (min-width: 900px) {

  body {
    font-size: 1.2em;
  }

}
